// 分享会列表
#page
  .row
    ul.pills
  script#template-calendar(type='text/template').
    <div class="calendar">
      <div class="hd">
        <h3>yyyymmmm</h3>
        <div class="act">
          <a href="/shareset" class="btn">当月</a>
        </div>
      </div>
      <div class="weekday">
        <span class="Sun">周日</span>
        <span>周一</span>
        <span>周二</span>
        <span>周三</span>
        <span>周四</span>
        <span>周五</span>
        <span>周六</span>
      </div>
      {{#days}}
      <div class="day dt-{{fullDate}}">
        <div class="date">{{date}}</div>
        <ul class="sharesets"><li><a href="/shareset/">xxxxx</a></li></ul>
      </div>
      {{/days}}
    </div>

  #cal-container
script
  seajs.use('/js/shareset/calendar')
