// 分享会列表
#page
  .row
    ul.pills
  script#template-calendar(type='text/template').
    <div class="hd">
      <h3>{{month}}</h3>
      <div class="act">
        <a href="#m/{{prevMonth}}" class="btn"> &lt; -</a>
        <a href="#" class="btn">当月</a>
        <a href="#m/{{nextMonth}}" class="btn">- &gt; </a>
      </div>
    </div>

    <table class="calendar">
      <thead>
        <tr class="weekday">
          <th>
            <span>日</span>
          </th>
          <th>
            <span>一</span>
          </th>
          <th>
            <span>二</span>
          </th>
          <th>
            <span>三</span>
          </th>
          <th>
            <span>四</span>
          </th>
          <th>
            <span>五</span>
          </th>
          <th>
            <span>六</span>
          </th>
        </tr>
      </thead>
      <tbody>
      {{#weeks}}
      <tr>
        {{#days}}
          <td class="day {{cls}} dt-{{fullDate}}" data-dt='{{fullDate}}'>
            <div class="date">{{date}}</div>
            <ul class="sharesets"></ul>
          </td>
        {{/days}}
      </tr>
      {{/weeks}}
      </tbody>
    </table>

  script#template-shareset(type='text/template').
    <li><a href="/shareset/{{postname}}" title='{{subject}}'>{{subject}}</a></li>

  #cal-container
script
  seajs.use('/js/shareset/calendar')
