// 分享会列表
#page
  script#template-calendar(type='text/template').
    <table class="calendar">
      <thead>
        <tr class="weekday">
          <th>
            <span>日</span>
          </th>
          <th>
            <span>一</span>
          </th>
          <th>
            <span>二</span>
          </th>
          <th>
            <span>三</span>
          </th>
          <th>
            <span>四</span>
          </th>
          <th>
            <span>五</span>
          </th>
          <th>
            <span>六</span>
          </th>
        </tr>
      </thead>
      <tbody>
      {{#weeks}}
      <tr>
        {{#days}}
          <td class="day {{cls}} dt-{{fullDate}}" data-dt='{{fullDate}}'>
            <div class="date">{{date}}</div>
            <ul class="sharesets"></ul>
          </td>
        {{/days}}
      </tr>
      {{/weeks}}
      </tbody>
    </table>

  script#template-list(type='text/template').
    <div class='ss-list'>
    {{#list}}
      {{> sharesets}}
    {{/list}}
    </div>

  script#template-shareset(type='text/template').
    <li><a href="/shareset/{{postname}}" title='{{position}} {{startTime}} - {{endTime}}'>{{subject}}</a></li>

  script#template-list-shareset(type='text/template').
    <div class='ss'>
      <div class="ss-dt">
        <span class='ss-dt-m'>{{date}}</span>
        <span class='ss-dt-m'>{{startTime}}-{{endTime}} </span>
        <span class='ss-dt-m'>{{position}}</span>
      </div>
      <div class="ss-name">
        <a href='#list/{{name}}'>{{name}}</a>
      </div>
      <div class="ss-bd">
        <a title='{{desc}}' href="/shareset/{{postname}}" >{{subject}}</a>
      </div>
    </div>


  div.v-hd
    div.view-sw#viewswitch.viewswitch
      a.v-c(href='#') 日历视图
      a.v-l(href='#list') 列表视图
    div.calendar-view-hd#calendar-hd
      span.title
      .calendar-hd-handle
        a.btn.prevMonth(href="#"): span.h-lt
        a.btn(href='#') 本月
        a.btn.nextMonth(href="#"): span.h-rt
    div.list-view-hd
  #cal-container
  #list-container
script
  seajs.use('/js/shareset/calendar.js?t=20120104')
