script
  KISSY.use('rate/app',function(S,App){
    App.nav('create');
  });
h1 成功
p 创建成功
ul
  li.big
    a(href="/show/#{id}") 进入
  li
    a(href="/rate/#{id}") 继续创建
  li
    a(href="/rate/#{id}") 开始打分
  li
    a(href="/list/") 查看所有

