script
  KISSY.use('rate/app',function(S,App){
    App.nav('create');
  });
script#temp-tags(type='kissy/template')
  |<ul class='tags'>
  |  {{#each tags as tag}}
  |    <li><a class='tag' href='/list?tag={{tag}}'>{{tag}}</a></li>
  |  {{/each}}
  |</ul>
h1 创建
form(action='/create', method="post")
  - if(error.length>0)
    div.errors
      - error.forEach(function(item){
        p= item
      - })
  ul.form
    li.fi
      label(for="input_title") 分享标题：
      br
      input.text#input_title(name="title",value="#{doc.title}")
    li.fi
      label(for="input_user") 分享者：
      br
      input.text#input_user(name="author",value="#{doc.authors.join(' ')}")
    li.fi
      label(for="input_other") 标签(逗号或空格分格)
      br
      input.text#input_tags(name="tags",value="#{doc.tags}")
      div#tagfield.ks-clear
    li.fi
      button(type="submit") 提交

script
  KISSY.use('rate/create')
