script
  KISSY.use('rate/app',function(S,App){
    App.nav('explorer');
  });
h1= title
h2 标签
ul.ks-clear.tags
  - tags.forEach(function(tag){
  li
    a(href="/list/?tags=#{tag}")= decodeURIComponent(tag)
  - });
