//- if (query.author)
  //h1
    //#{query.author} 的分享
  //p
    //a(href="/list") 所有分享
//- else if(query.tags)
  //.navback
    //a(href='/share') 所有分享
  //h1
    //标签为 #{query.tags} 的分享

script#template-list(type='text/template').
  <div class='ratelist'>
    {{#list}}
    <div class='shareitem'>
      <a href='/share/{{_id}}' style='background-image:url({{cover}})'>
        <div class="wrap">
          <h3 class="title"> {{title}} </h3>
          <div class="desc">{{desc}}</div>
          <div class="act">
            <span class="author">{{authors}}</span>
            <span title='热度'><b class='icon-fire'></b>{{viewCount}}</span>
          </div>
        </div>
      </a>
    </div>
    {{/list}}
  </div>

script#template-tags(type='text/template').
  <h3>标签</h3>
  <ul class='tags'>
    {{#tags}}
      <li style='font-size:{{size}}px;'><a href='#tags/{{tag}}'>{{tag}}<span>{{count}}</span></a></li>
    {{/tags}}
  </ul>

script#template-tagquery(type='text/template').
  
  <h1>{{tag}}标签<a class='icon-remove-sign' title='移除' href="#"></a></h1>


#page

  .row-fluid.filter
    #Tags
  .row-fluid
    .span12
      #Query
      #Explore

script
  seajs.use('/js/explore.js?t=20120104')
