h1 分享平台反馈交流区
p 大家发现什么Bug， 有任何意见和建议，请留在这里, ^^

div.disqus-box.mt20
  div#disqus_thread
  script
    var disqus_shortname="firebird";
    var disqus_identifier = "rate_feedback";
    var disqus_developer = 1;
    (function(){
      var dsq = document.createElement('script');
      dsq.type="text/javascript";
      dsq.async = true;
      dsq.src = "http://"+disqus_shortname + '.disqus.com/embed.js';
      document.getElementsByTagName("head")[0].appendChild(dsq);
    })();
