div.footer.container-fluid
  a(href='/feedback') 反馈
  |/Powerd by:
  a(href='http://seajs.com') Seajs
  ;
  a(href='http://nodejs.org') Node
  ;
  a(href='http://lesscss.org') Less
  ;
  a(href='http://twitter.github.com/bootstrap')BootStrap
  &nbsp;
  |/source:
  a(href='https://github.com/maxbbn/rating-app') github
  &nbsp;
  |/authors:
  span 文龙
  span 祁幽
  span 妙净
script
  seajs.use("/js/modules/bootstrap/bootstrap-dropdown")
  seajs.use("/js/modules/bootstrap/bootstrap-collapse")
