div.footer.container-fluid
  a(href='/feedback') 反馈
  &nbsp;
  span Powerd by: Seajs Node Less BootStrap
  &nbsp;
  a(href='https://github.com/maxbbn/rating-app') fork on github
  &nbsp;
  author: 文龙， 祁幽， 妙净
script
  seajs.use("/js/modules/bootstrap/bootstrap-dropdown")
  seajs.use("/js/modules/bootstrap/bootstrap-collapse")
