script
  KISSY.use('rate/app',function(S,App){
    App.nav('home');
  });


.home-banner 
  img(src='img/banner.gif')
.row
  .span10
    div.box
      .hd 
        h3 分享平台能帮你做什么？
      .bd
        ul
          li 更轻松的组织分享会
          li 发现优质分享
          li 收集反馈, 帮助组织者，与改善分享
          li 分享沉淀: 幻灯片，视频， 图片，文档
          li 讨论
    div.box
      .hd
        h3 热门分享
      .bd!= partial('partial/links')
    != partial('partial/side-tags')
  .span6
    .box
      .hd
        h3  常用链接
      .bd
        ul.links
          li
            a(href='https://is.taobao.org/meeting/')  会议室预定
script
  KISSY.use('rate/tags');
