!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  -if(typeof css !== "undefined" )
    -if(css=="rate")
      link(rel='stylesheet', href='/stylesheets/rate2.css')
  script(src='/js/kissy-min.js')
  body
  div.header
    div.nav
      ul
        li
          a(href="/create") 创建评分
        li
          a(href="/list") 所有评分
  div.content
    != body
  div.footer
