h1 请打分
div.mode_rate.mod.rate
  ul.label.ks-clear.section
        li 不好
        li 一般
        li 挺好
        li 牛
        li 神作

  h3 分享者准备
  ul#rate1.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  h3 分享表述
  ul#rate2.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  h3 分享的内容
  ul#rate3.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  h3 整体印象
  ul#rate4.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  .actions
    form#rateform(method="post",action="/ratedo")
      input(type="hidden",value=rid,name="rid")
      button.button.rate-btn#rate-submit 提交打分
