div.mode_rate.mod.rate
  h1 请打分
  h3 准备工作(比如PPT，案例）
  ul#rate1.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  h3 分享掌控（语言表达，时间控制，节奏把握）
  ul#rate2.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  h3 分享内容（难易程度，实用性,内容价值）
  ul#rate3.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  h3 整体印象 （ 你的直觉， 这次分享有几分）
  ul#rate4.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  .actions
    form#rateform(method="post",action="/ratedo")
      input(type="hidden",value=rid,name="rid")
      button.button.rate-btn(type="submit")#rate-submit 提交打分
      &nbsp;或者&nbsp;
      a(href="/show/#{rid}") 返回
