div.mode_rate.mod.rate
  h1 请打分

  form#rateform(method="post",action="/ratedo")
    h3 准备工作(比如PPT，案例）
    #rate1.rateslider.section.rating-item.stars.ks-clear(tabindex='0')
      ul.indicator
        li(title='有准备过吗？') 差
        li(title='该有的都有了') 一般
        li(title='资料充分') 好
        li(title='很有诚意啊') 很好
        li(title='准备的太好乐，让人感动') 牛逼
      .bar
      .handle
      p.text 拖动进行打分
      input(name='rate1',type='hidden')

    h3 分享掌控(比如PPT，案例）
    #rate2.rateslider.section.rating-item.stars.ks-clear(tabindex='0')

      ul.indicator
        li(title='有准备过吗？') 差
        li(title='该有的都有了') 一般
        li(title='资料充分') 好
        li(title='很有诚意啊') 很好
        li(title='准备的太好乐，让人感动') 牛逼
      .bar
      .handle
      p.text 拖动进行打分
      input(name='rate2',type='hidden')

    h3 分享内容(比如PPT，案例）
    #rate3.rateslider.section.rating-item.stars.ks-clear(tabindex='0')
      ul.indicator
        li(title='有准备过吗？') 差
        li(title='该有的都有了') 一般
        li(title='资料充分') 好
        li(title='很有诚意啊') 很好
        li(title='准备的太好乐，让人感动') 牛逼
      .bar
      .handle
      p.text 拖动进行打分
      input(name='rate3',type='hidden')

    h3 整体映像(比如PPT，案例）
    #rate4.rateslider.section.rating-item.stars.ks-clear(tabindex='0')
      ul.indicator
        li(title='有准备过吗？') 差
        li(title='该有的都有了') 一般
        li(title='资料充分') 好
        li(title='很有诚意啊') 很好
        li(title='准备的太好乐，让人感动') 牛逼
      .bar
      .handle
      p.text 拖动进行打分
      input(name='rate4',type='hidden')

    .actions
        input(type="hidden",value=rid,name="rid")
        button.button.rate-btn(type="submit")#rate-submit 提交打分
        &nbsp;或者&nbsp;
        a(href="/show/#{rid}") 返回
script(src='/js/rate/slider.js')
script
  KISSY.use('rate/slider',function(S, Slider){
    S.all('.rateslider','#rateform').each(function(item){
      new Slider({
        elem : item
      });
    })
  });
