h1 请打分
div.mode_rate.mod.rate
  ul.label.ks-clear.section
        li 不好
        li 一般
        li 挺好
        li 很好
        li 神作
  ul#rating-ppt.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  ul#rating-ppt.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  ul#rating-ppt.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  ul#rating-ppt.section.rating-item.stars.ks-clear
    li.s1
      a(href="#") X
    li.s2
      a(href="#") X
    li.s3
      a(href="#") X
    li.s4
      a(href="#") X
    li.s5
      a(href="#") X

  .actions
    button.button.rate-btn#rate-submit 提交打分
