script
  KISSY.use('rate/app',function(S,App){
    App.nav('create');
  });
h1 分享创建成功
ul
  li
    a(href="/shareset/#{share.shareset}") 返回分享会
  li
    a(href="/share/add/#{share._id}")  进入分享页
  li
    a(href="/create-share/#{share.shareset}") 继续创建
