script
  KISSY.use('rate/app',function(S,App){
    App.nav('tags');
  });
h1= title
ul.ks-clear.tags
  - tags.forEach(function(tag){
  li
    a(href="/list/?tag=#{tag}")= decodeURIComponent(tag)
  - });
