div.navbar
  div.navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/')  分享平台
      ul.nav-collapse.nav
        li(class=(tab ==='home')?'active':'')
          a(href="/") 首页
        li(class=(tab ==='shareset')?'active':'')
          a(href="/calendar") 分享会日历
        li(class=(tab ==='explore')?'active':'')
          a(href="/explore") 发现分享
        li(class=(tab ==='create')?'active':'')
          a(href='/shareset/new') 组织分享会
      p.navbar-text.pull-right
        - if(!everyauth.loggedIn)
          script.
            (function(url){
              document.write('<a href="/login?redirect='+url+'" class="login-url">登录</a>&nbsp;');
            })(encodeURIComponent(location.href));
          a(href="/register",title="想要组织分享，先来注册吧") 注册
        - else
          - if(user.name)
            span #{user.name}
          - else
            a(href='/user/edit') 添加名字
          &nbsp;
          a(href='/logout') 退出
