// CSS Reset
@import "boot/bootstrap.less";
@import "type.less";

html,body {
    font-size:12px;
    background:#cdcdcd url(http://img04.taobaocdn.com/tps/i4/T1KWCyXo0pXXXXXXXX-164-164.png) 0 0;
    height:100%;
}
form {
    background:white;
}
.footer {
    padding:20px;
    text-align:right;
}
