// CSS Reset
@import "boot/reset.less";

// Core variables and mixins
@import "boot/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "boot/mixins.less";

// Grid system and page structure
@import "boot/scaffolding.less";

// Styled patterns and elements
@import "boot/type.less";
@import "boot/forms.less";
/*@import "boot/tables.less";*/
@import "boot/patterns.less";

@import "boothack.less";
@import "type.less";
#main{
    padding-top:50px;
}
html,body {
    font-size:12px;
    background:#cdcdcd url(http://img04.taobaocdn.com/tps/i4/T1KWCyXo0pXXXXXXXX-164-164.png) 0 0;
}
