// Hover & Active
a:hover,
a:active {
  outline: 0;
}

.topbar div > ul, .nav {
  .active > a {
    /*background-color: @red;*/
  }
}
.help-block, .help-inline {
    font-size:12px;
    color:#666;
}

pre code {
    background:none;
    color:auto;
    padding:0;
}

