// CSS Reset
@import "boot/reset.less";

// Core variables and mixins
@import "boot/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "boot/mixins.less";

// Grid system and page structure
@import "boot/scaffolding.less";

// Styled patterns and elements
@import "boot/type.less";
@import "boot/forms.less";
@import "boot/tables.less";
@import "boot/patterns.less";

@import "boothack.less";
@import "type.less";
#main{
    padding-top:50px;
}
html,body {
    font-family:"Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    font-size:12px;
    background:#cdcdcd url(http://img04.taobaocdn.com/tps/i4/T1KWCyXo0pXXXXXXXX-164-164.png) 0 0;
}

.home-banner {
}
.navback {
    padding:10px;
}

// 分享
.ratelist {
    .clearfix();
    margin:0;
    list-style:none;
}
@shareWidth : 195px;
@shareBorder : 10px;
@shareBorderRadius:3px;
.shareitem{
    width:@shareWidth;
    height:@shareWidth;
    margin:0 1px 1px 0;
    color:#666;
    float:left;
    position:relative;
    a {
        text-decoration:none;
        width:@shareWidth;
        height:@shareWidth;
        position:absolute;
        z-index:1;
        .border-radius(@shareBorderRadius);
        &:hover {
            .wrap {
                background:rgba(0,0,0,.9);
            }
            .desc{
                display:block;
                margin-top:0;
                opacity:1.0;
            }
        }
    }
    .desc {
        .transition(all .2s ease);
        margin-top:-20px;
        color:lighten(@linkColor,20%);
        padding:5px;
        opacity:0.1;
    }
    .wrap {
        .transition(all .2s ease);
        background:rgba(0,0,0,0);
        width:@shareWidth;
        height:@shareWidth;
    }
    h3 {
        background:rgba(30,30,30,.8);
        color:#fff;
        font-size:14px;
        line-height:1.5;
        padding:5px;
    }
    .author {
        font-weight:bold;
        color:#fff;
        text-shadow:0px 0px 2px #333;
    }
    .act {
        padding:5px;
        position:absolute;
        bottom:@shareBorder;
        left:@shareBorder;
        width:@shareWidth - @shareBorder*2;
    }
}

.box .hd h3 {
    color:#666;
    font-size:14px;
}

ul.links {
    list-style:none;
    margin:0 0 0 10px;
}
.share-list-item {
    margin-bottom:20px;
    .clearfix();
    .cover {
        float:left;
        margin-right:10px;
    }
    .cover a, .cover img {
        display:block;
    }
    .cnt {
        overflow:hidden;
        zoom:1;
    }
    .border-radius(5px);
    border:1px solid @grayLight;
    background:@grayLighter;
    overflow:hidden;
    a {
        color:#00f;
    }
    .desc {
        color:#333;
        margin:10px 0;
    }
    .btns {
        visibility:hidden;
    }
    &:hover .btns {
        visibility:visible;
    }
}


.slideshare {
    margin-bottom:10px;
}

.cover-box {
    width:195px;
    height:195px;
    position:relative;
    .action {
        display:none;
        right:5px;
        top:5px;
        position:absolute;
        background-color:#fff;
    }
    &:hover .action {
        display:block;
    }
}
//  标签
.tags {
    .clearfix();
    list-style:none;
    margin:0;
    li {
        float:left;
        margin: 5px 5px 0 0;
    }
    a {
        display:inline-block;
        padding:5px;
        background:#eee;
        color:#666;
        border:1px solid #999;
        border-right:2px solid #278ac4;
        .border-radius(3px 0 0 3px);
        .box-shadow(0 1px 0px #ddd);
        #gradient .vertical(#f8f8f8, #f1f1f1);
    }
    a:hover {
        text-decoration:none;
        color:#999;
        /*#gradient .vertical(#f8f8f8, #f1f1f1);*/
    }
}


//  分享会
.setitem {
    margin:20px 0;
    border-bottom:1px solid #b9b9b9;
    border-right:1px solid #b9b9b9;
    border-left:1px solid #b9b9b9;
    margin-bottom:20px;
    background:#fff;
    .box-shadow();
    .hd {
        background:#d5d5d7;
        height:24px;
        border-top:1px solid #eee;
        border-bottom:1px solid #b7bac1;
    }
    .bd {
        padding:10px;
    }
    .a {
        color:#39c
    }
    .meta {
        .clearfix();
        margin-bottom:10px

    }
    .desc {
        margin-bottom:20px;
    }
    dt, dd {
        float:left;
    }
    dd {
        margin-right:20px;
    }
}

.sliderform {
    padding:0;
    margin:0;
}

.share-list-item {
}

form.login, form.upload-form {
    background:#fff;
    padding-top:20px;
}
.login-page {
    .login {
        margin-top:100px;
        .box-shadow();
    }
    .alert-message {
        margin-right:20px;
    }
}


.box {
    margin-bottom:10px;
}
.box-meta {
    padding:10px;
    margin-bottom:1px;

    dd {
        font-size:20px;
    }
}
.box-desc {
    background:#888;
    color:#fff;
    padding:10px;
    .box-shadow(inset 1px 1px 3px #333);
}

@daywidth : 130px;
@gridBorder : #EEE;

.calendar-tbl {
    .clearfix();
    width:@daywidth*7+8;
    .weekday {
        .clearfix();
        span {
            text-align:center;
            color:#fff;
            background:#d33;
            float:left;
            width:@daywidth;
            margin-left:1px;
            boder:0;
            .border-radius(8px 8px 0 0);
        }
        .Sun {
            margin-left:0;
            border-left:0;
        }
    }
    .day {
        background:#f6f6f6;
        color:#DDD;
        float:left;
        width:@daywidth;
        height:@daywidth*.75;
        border-bottom:1px solid @gridBorder;
        border-right:1px solid @gridBorder;
    }
    .current {
        color:#333;
        background:#fff;
        &:hover {
            background:#f6f6f6;
            .box-shadow(inset 0 0 20px #CCC);
        }
    }
    .today {
        background:lighten(@yellow, 40%);
        color:#533;
        &:hover {
            background:lighten(@yellow, 30%);
            .box-shadow(inset 0 0 20px #CCC);
        }
    }
    .hd {
        .clearfix();
        position:relative;
        .act {
            position:absolute;
            right:0px;
            top:0px;
        }
    }
    .Sun {
        background:#f5f5f5;
        border-left:1px solid @gridBorder;
    }
    .date {
        padding:0 5px;
    }
    .sharesets {
        margin:0;
        list-style:none;
        li {
            a {
                padding:2px 4px;
                display:block;
                height:1.5em;
                &:hover {
                    background:#FFF;
                    /*#gradient.vertical(#fff, #999);*/
                    text-decoration:none;
                }
            }
            width : @daywidth;
            overflow:hidden;
        }
    }
}

.share-content {
    .ft {
        text-align:right;
        border-top:1px solid @gray;
        padding:10px;
    }
    .bd {
        padding-bottom:30px;
        font-size:14px;
        h1 {
            font-size:25px;
        }
    }
    textarea {
        font-family:monospace;
        background:#000;
        color:@green;
    }
}
.disqus-box {
    margin-top:50px;
    #dsq-subscribe {
        display:none;
    }
}

.like {
    background:#333;
    color:#fff;
    display:inline-block;
    padding:1px 2px 1px 5px ;
    .border-radius(5px);
}
a.like span {
    display:inline-block;
    padding:2px;
    color:#333;
    background:#fff;
    .border-radius(2px 4px 4px 2px);
}
a.like:hover span {
    display:inline-block;
    padding:2px;
    background:#fff;
    color:#666;
}
a.like:hover {
    text-decoration:none;
}
.like i {
    color:red;
    font-size:20px;
    font-weight:bold;
}
a.like:hover i {
    color:lighten(#f00 ,20%);
}

.shareset-detail {
    padding:20px 0 20px 20px;
    background:lighten(@orange,20%);
    margin-bottom:10px;
    .action {
        margin-right:-10px;
        background:@red;
        float:right;
        margin-top:20px;
        padding:10px 10px 10px 30px;
    }
}
.shareset-action {
    margin-bottom:20px;
}
