.home-banner
.row
  .span10
  img(src='http://img02.taobaocdn.com/tps/i2/T16_GNXe4cXXXXXXXX-940-160.jpg')
.row.fluid
  .span9
    div.box
      .hd
        h3 最近的分享，看一看有没有自己喜欢的
      .bd
      .ratelist
    div.box
      .hd 
        h3 分享平台希望能帮你
      .bd
        ul
          li 组织分享
          li 记录分享
          li 反馈与交流
    div.box
      .hd
        h3 热门分享
      .bd
    != partial('partial/side-tags')
  .span3
    .box
      .hd
        h3  常用链接
      .bd
        ul.links
          li
            a(href='https://is.taobao.org/meeting/')  会议室预定
