.home-banner
  img(src='img/banner-yubo.jpg')
.row
  .span10
    div.box
      .hd 
        h3 亲，下面是最新的分享噢，来看一看有没有你感兴趣的！
          
    div.box
      .hd 
        h3 分享平台希望能帮你
      .bd
        ul
          li 组织分享
          li 记录分享
          li 反馈与交流
    div.box
      .hd
        h3 热门分享
      .bd!= partial('partial/links')
    != partial('partial/side-tags')
  .span6
    - if(!everyauth.loggedIn)
      .box
        .hd
          h3
            登录
        form.bd(action="/login?redirect=/",method='post')
          input.span3(type='text',name='email',placeholder='email')
          br
          button.btn.small(type='submit',style='padding:4px 9px;') 登录
    .box
      .hd
        h3  常用链接
      .bd
        ul.links
          li
            a(href='https://is.taobao.org/meeting/')  会议室预定
