body {
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.content{
    width:35em;
    margin:0 auto;
}
button {
    padding:10px 20px;
    font-size:20px;
    background:#ddd;
    border:1px solid #888;
    border-radius:8px;
}
button:focus {
    background:#aaa;
}

button:hover {
    background:#CCC;
}

.big {
    font-size:20px;
    padding:5px;
}

.header {
    background:#eee;
    padding:10px;
}

table th {
    text-align:left;
    background:#f2f2f2;
    padding:10px;
}
table td {
    padding:10px;
}
h1 {
    font-size:24px;
    margin:10px;
}
form {
    padding:20px;
}
form .fi {
    margin:10px;
}
input.text {
    font-size:20px;
    padding:5px 10px;
}
input.text:focus {
    background:#ffffdd;
}
.nav li {
    display:inline;
    margin-left:10px;
}

a {
  color: #00B7FF;
}
.ratelist {
    list-style:none;
    padding:0;
    border-top:1px solid #888;
}
.ratelist .rateitem {
    border-bottom:1px solid #888;
    position:relative;
    padding-left:100px;
    min-height:130px;
}
.rate .item {
    display:inline-block;
    width:20px;
    height:20px;
    line-height:20px;
    text-align:center;
    color:#ddd;
    background:#444;
    margin:10px;
    font-size:16px;
}
.ratelist .title {
    font-weight:bold;
    padding:5px 0;
    font-size:20px;
}
.ratelist .score {
    position:absolute;
    bottom:0;
    left:0;
    margin:0;
    padding:0;
    font-size:12px;
    font-family:Arial;
    height:120px;
    color:#AAA;
    width:90px;
    padding:5px;
}
.ratelist .score li {
    height:30px;
}
.ratelist .score li a span{
    width:80px;
    height:10px;
    display:inline-block;
    background-color:red;
}
.ratelist .score li a span i{
    background-color:blue;
    height:10px;
    display:inline-block;
}
.ratelist .id {
    color:#999;
}

.meta li {
    display:inline;
    margin-right:10px;
}
.meta {
    margin:10px;
}
.meta .author {
    color:#666;
}
.meta .time {
    color:#999;
}
.actions {
    margin:10px;
}
