script#tmpl-tags(type='kissy/template')
  |<ul class='tags'>
  |  {{#tags}}
  |    <li><a href='/explore#tags/{{tag}}'>{{tag}} - {{count}}</a></li>
  |  {{/tags}}
  |</ul>
div#tags.box
  .hd
    h3 标签
  .bd
script
  seajs.use('/js/tags');
